DOCMOLDER_GITHUB_WEBHOOK_HOST=127.0.0.1
DOCMOLDER_GITHUB_WEBHOOK_PORT=8123
DOCMOLDER_GITHUB_WEBHOOK_PATH=/webhooks/github/deploy
DOCMOLDER_GITHUB_WEBHOOK_HEALTH_PATH=/webhooks/github/healthz
DOCMOLDER_GITHUB_WEBHOOK_REPOSITORY=max23468/DocMolder
DOCMOLDER_GITHUB_WEBHOOK_BRANCH=main
DOCMOLDER_GITHUB_WEBHOOK_SECRET=changeme
DOCMOLDER_GITHUB_WEBHOOK_DEPLOY_SCRIPT=/usr/local/sbin/docmolder-update-vps
DOCMOLDER_GITHUB_WEBHOOK_DEPLOY_WITH_SUDO=true
DOCMOLDER_GITHUB_WEBHOOK_DEPLOY_TIMEOUT_SECONDS=3600
DOCMOLDER_GITHUB_WEBHOOK_MAX_BODY_BYTES=1048576
DOCMOLDER_GITHUB_WEBHOOK_SERVICE_NAME=docmolder-github-webhook.service
